.advantages-numbered {
  max-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 17px;
  background: #eeeeee;
  padding: 36px;
  @media (min-width: $tablet) {
    width: 33.33%;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: $desktop) {
    padding: 43px 43px 82px;
  }
}
// Контейнер 
.numbered {
  @media (min-width: $tablet) {
  display: flex;
  }
}
.advantages-numbered__title {
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  @media (min-width: $tablet) {
    width: 70%;
    font-size: 21px;
      line-height: 1.23;
  }
}
.advantages-numbered__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
}