.main-nav {
  max-width: 100%;
  min-height: 56px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  @media (min-width: $tablet) {
    min-height: 56px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
// links
.main-nav__link {
  color: #ffffff;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  word-break: break-word;
  @media (min-width: $tablet) {
    width: 160px;
    min-height: 56px;
    color: #000000;
    background-color: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    &:hover {
      color: #81B3D2;
    }
    &:active {
      color: #000000;
      opacity: 0.3;
    }
  }
}
// Активная ссылка
.main-nav__link--current {
  @media (min-width: $tablet) {
    color: #766357;
  }
}
.main-nav__menu-button {
  width: 23px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  position: absolute;
  z-index: 1;
  @media (min-width: $tablet) {
    display: none;
  }
}
.main-nav__wrapper {
 max-width: 100%;
}