.page-footer {
  max-width: 100%;
  min-height: 233px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  @media (min-width: $tablet) {
    min-height: 120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 100px;
  }
}
.page-footer__hashtag {
  max-width: 100%;
  height: 100%;
  padding: 38px 0 0 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.23;
  text-transform: uppercase;
  color: #000000;
  @media (min-width: $tablet) {
    padding: 0;
  }
  &:hover {
    color: #81B3D2;
  }
  &:active {
    opacity: 0.3;
  }
}
.page-footer__academy-logo {
  width: 42px;
  height: 53px;
}
.page-footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  text-transform: uppercase;
  gap: 15px;
  @media (max-width: 767px) {
    padding: 0 0 22px 0;
  }
  &:hover {
    color: #81B3D2;
    stroke: #81B3D2;
  }
  &:active {
    color: #B3B3B3;
    stroke: #B3B3B3;
  }
}
.page-footer__text:hover path {
  fill: #81B3D2;
}
.page-footer__text:active path {
  fill: #B3B3B3;
}