.search-hotel {
  max-width: 100%;
  height: 100%;
  padding: 0 18px 0 18px;
  word-break: break-word;
}
.search-hotel__lead-text {
font-weight: 700;
font-size: 21px;
line-height: 1.23;
text-transform: uppercase;
@media (min-width: $tablet) {
  font-size: 30px;
line-height: 0.86;
}
}
.search-hotel__description {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
}
.search-hotel-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding: 38px 0 0 0;
  @media (min-width: $tablet) {
    padding: 61px 0 0 0;
  }
}
.search-hotel__button {
  width: 100%;
  min-height: 58px;
  margin: 33px 0 0 0;
  background-color: #81B3D2;
  color: #ffffff;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 21px;
  line-height: 1.23;
  text-transform: uppercase;
  word-break: break-word;
  @media (min-width: $tablet) {
    width: 458px;
    margin: 40px 0 0 0;
    padding: 16px 121px;
  }
  @media (min-width: $desktop) {
    margin: 46px 0 0 0;
  }
}