.advantages-tiles {
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; 
}
.advantages-tiles__title {
  width: 100%;
  height: 100%;
  padding: 32px 0 0 0;
  margin: 0;
}
.advantages-tiles__subtitle {
width: 100%;
height: 100%;
padding: 35px 0 0 0;
margin: 0 0 32px 0;
}
// Один перенос
.only-mobile {
  @media (min-width: $tablet) {
    display: none;
  }
}