.feedback-form {
  max-width: 100%;
  height: 100%;
  padding: 0 20px 0 20px;
  margin: 0;
  @media (min-width: $tablet) {
    padding: 0 60px 0 60px;
  }
  @media (min-width: $desktop) {
    padding: 0 120px 0 120px;
  }
}
.feedback-form__button {
 width: 100%;
  min-height: 58px;
  margin: 56px 0 0 0;
  padding: 0;
  background-color: #81B3D2;
  color: #FFFFFF;
}
.feedback-form__manual {
  display: flex;
  justify-content: flex-end;
  color: rgba(51, 51, 51, 0.6);
}