.feedback-form {
  max-width: 100%;
  height: 100%;
  padding: 0 20px 0 20px;
  margin: 0;
  @media (min-width: $tablet) {
    padding: 0 60px 0 60px;
  }
  @media (min-width: $desktop) {
    padding: 0 120px 0 120px;
  }
}
.feedback-form__button {
 width: 100%;
  min-height: 58px;
  margin: 56px 0 0 0;
  padding: 0;
  background-color: #81B3D2;
  color: #FFFFFF;
  @media (min-width: $tablet) {
    margin: 0;
    width: 50%;
  }
  @media (min-width: $desktop) {
    width: 35%;
  }
}
.feedback-form__manual {
  display: flex;
  justify-content: flex-end;
  color: rgba(51, 51, 51, 0.6);
  @media (min-width: $tablet) {
    width: 50%;
    display: flex;
    align-items: center;
  }
  @media (min-width: $desktop) {
    width: 40%;
  }
}
  // Расположение кнопки и подсказки
  .feedback-button-container {
    @media (min-width: $tablet) {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 48px 0 0 0;
    }
    @media (min-width: $desktop) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }