.user-data {
  max-width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}
.user-data__heading {
  margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    text-transform: uppercase;
    @media (min-width: $tablet) {
      font-size: 21px;
      line-height: 1.23;
    }
      }
.user-data__heading:not(:first-child) {
  margin: 24px 0 0 0;
}
// Отступ последнего
.text-field .user-data__heading {
  padding: 42px 0 0 0;
}
// Поле Имя 
.name {
width: 100%;
margin: 20px 0 0 0;
display: -ms-grid;
display: grid;
border-top: 1px solid #E5E5E5;
padding: 34px 0 34px 0;
@media (min-width: $tablet) {
  width: 100%;
  border: 0;
}
}
// Плейсхолдер 
.name .user-data__field::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
}
// Плейсхолдер 
.name .user-data__field::-moz-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
}
// Плейсхолдер 
.name .user-data__field:-ms-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
}
// Плейсхолдер 
.name .user-data__field::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
}
// Поле контакты
.contacts-data {
width: 100%;
margin: 20px 0 0 0;
padding: 34px 0 34px 0;
display: -ms-grid;
display: grid;
border-top: 1px solid #E5E5E5;
border-bottom: 1px solid #E5E5E5;
position: relative;
@media (min-width: $tablet) {
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  border: 0;
}
}
// Иконки
.contacts-data__image {
  position: absolute;
  width: 46px;
}
.phone-icon {
  right: 0;
  top: 37%;
}
.mail-icon {
  right: 0;
  top: 66%;
}
// Радиокнопки 
.emotions {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 16px;
  padding: 28px 0 0 0;
  @media (min-width: $tablet) {
    width: 100%;
    padding: 28px 0 34px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 10px;
    }
    @media (min-width: $desktop) {
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 1fr;
          grid-template-rows: 1fr;
    }
}
.user-data__radio {
  width: 46px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.user-data__custom-radio {
  width: 46px;
  height: 46px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #F2F2F2;
}
.user-data__radio:checked ~ .user-data__custom-radio {
  background-image: url(../../../img/krug.svg);
  background-position: center;
  background-repeat: no-repeat;
}
// Чекбокс
.locations {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 16px;
  padding: 28px 0 0 0;
  @media (min-width: $tablet) {
  width: 100%;
  padding: 28px 0 34px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 10px;
  margin: 0 auto;
  }
  @media (min-width: $desktop) {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 64px;
    margin: 0;
    padding: 28px 0 36px 0;
  }
}
.user-data__variants {
  width: 100%;
  min-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
}
.user-data__custom-checkbox {
  border: 0;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #F2F2F2;
}
.user-data__checkbox {
  width: 46px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    position: absolute;
}
.user-data__checkbox:checked + .user-data__custom-checkbox {
  background-image: url(../../../img/galca.svg);
  background-repeat: no-repeat;
  background-position: center;
}
// Лейблы инпутов
.user-data__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: start;
      justify-items: start;
  text-transform: uppercase;
  }
  // Сами поля ввода 
  .user-data__field {
    max-width: 100%;
    padding: 16px 0 16px 16px;
    border: 0;
    background-color: #F2F2F2;
    &:hover {
      background: #E5E5E5;
    }
    &:active {
      background: #FFFFFF;
    }
    &:focus {
      border: 4px solid #E5E5E5;
    }
  }
  .user-data__field::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
  }
  .user-data__field::-moz-placeholder {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
  }
  .user-data__field:-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
  }
  .user-data__field::placeholder {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
  }
  .user-data__field:not(:last-child) {
    margin: 0 0 16px 0;
  }
  .user-data__textarea {
    max-width: 100%;
    min-height: 150px;
    padding: 16px 16px 16px 16px;
    border: 0;
    background-color: #F2F2F2;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
  }
  .user-data__textarea::-webkit-input-placeholder {
    word-wrap: break-word;
    width: 80%;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    color: rgba(0, 0, 0, 0.3);
  }
  .user-data__textarea::-moz-placeholder {
    word-wrap: break-word;
    width: 80%;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    color: rgba(0, 0, 0, 0.3);
  }
  .user-data__textarea:-ms-input-placeholder {
    word-wrap: break-word;
    width: 80%;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    color: rgba(0, 0, 0, 0.3);
  }
  .user-data__textarea::placeholder {
    word-wrap: break-word;
    width: 80%;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    color: rgba(0, 0, 0, 0.3);
  }
// Премещение input для планшета 
.main-user-data {
  @media (min-width: $tablet) {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
  }
  @media (min-width: $desktop) {
    -ms-grid-columns: 1fr 1px 1fr;
        grid-template-columns: 1fr 1px 1fr;
  }
  }
// текстовое поле
.text-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  @media (min-width: $desktop) {
    padding: 0 120px;
  }
}
// Линия между блоками main-user-data
.line {
  display: none;
  @media (min-width: $desktop) {
  display: block;
  border: 1px solid #DBDBDB;
  margin: 50px 0 0 0;
  height: 80%;
}
}
// полосы
.form-head-line {
  position: relative;
}
.form-head-line:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid #DBDBDB;
  z-index: -1;
  width: 200px;
}
.form-head-line:before {
  content: "";
  position: absolute;
  right: 0;
  height: 0.5em;
  border-bottom: 1px solid #DBDBDB;
  z-index: -1;
  width: 200px;
}