.map {
  width: 100%;
  min-height: 350px;
  position: relative;
  background-image: url('../../../img/bg-map/map-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  @media (min-width: $tablet) {
    background-image: url('../../../img/bg-map/map-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: $desktop) {
    background-image: url('../../../img/bg-map/map-desktop.jpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}