body {
  @font-face {
    font-family: "PT Sans", sans-serif;
    src: url("../fonts/ptsans.woff"), url("../fonts/ptsans.woff2");
    font-style: normal;
  }
  // Bold
  @font-face {
    font-family: "PT Sans", sans-serif;
    src: url("../fonts/ptsansbold.woff"), url("../fonts/ptsansbold.woff2");
    font-style: normal;
  }
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  max-width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}
.body {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// Отмена стандартных стилей
li {
list-style-type: none;
}
a {
  text-decoration: none;
}
// Заголовки, приведение к стандртным стилям 
h2 {
  display: block;
  margin: 0;
}
h3 {
  display: block;
  margin: 0;
}
// Абзацы
p {
  display: block;
  margin: 0;
}
// Обнуление стилей кнопок
button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}