.hero {
  max-width: 100%;
  min-height: 389px;
  margin: 0;
  padding: 0 19px 0 19px;
  background-image: url('../../../img/triangle/mobile/triangle.svg'), url('../../../img/bg-hero/mobile/back-mobile.jpg');
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: 50% 100%,50% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    background-image: url('../../../img/triangle/mobile/triangle.svg'), url('../../../img/bg-hero/mobile/back-mobile@2x.jpg');
    background-size: 100%, cover;
  }
  @media (min-width: $tablet) {
    min-height: 518px;
    background-image: url('../../../img/triangle/tablet/triangle-tabl.svg'), url('../../../img/bg-hero/tablet/back-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-position: 50% 100%,50% 100%;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: url('../../../img/triangle/tablet/triangle-tabl.svg'), url('../../../img/bg-hero/tablet/back-desktop@2x.jpg');
      background-size: 100%, cover;
    }
  }
  @media (min-width: $desktop) {
    min-height: 518px;
    background-image: url('../../../img/triangle/desktop/triangle-deskt.svg'), url('../../../img/bg-hero/desktop/back-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-position: 50% 100%,50% 100%;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: url('../../../img/triangle/desktop/triangle-deskt.svg'), url('../../../img/bg-hero/desktop/back-desktop@2x.png');
      background-size: 100%, cover;
    }
  }
}

.hero__text {
  @media (min-width: $tablet) {
    width: 461px;
    height: 350px;
  }
  @media (min-width: $desktop) {
    width: 460px;
  }
}
